@font-face {
  font-family: "AdventureTime";
  src: url("../../assets/fonts/adventuretime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.landing {
    /* display: flex;
    flex-direction: column; */
    padding-top: 0;
    min-height: 0;
    background-image: url('../../assets/pages/landing-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: none;
    background-attachment: scroll;
    /* color: blue; */
}

.landing-overlay {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;  
    padding: 6rem 5rem 6rem;
    gap: 6rem;
}

.landing-initial-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;     
    width: 100%;
}
.title-container {
    display: flex;
    width: 50%;
    /* height: 320px; */
    justify-content: center;
    align-items: center;
}
.title-label{
    font-family: "AdventureTime", cursive;
    font-size: 5rem;
    color: white; /* Color del relleno */
    -webkit-text-stroke: 1px #C82522; /* Grosor y color del borde */
}
.landing-description-container {
    display: flex;
    flex: 1;
    /* background-color: rgba(0, 0, 255, 0.5); */
    background-color: #66BA40BF;

    border-radius: 20px;
    border: 5px solid #274618bf;
    justify-content: center;    /* alineación horizontal */
    align-items: center;        /* alineación vertical */
    padding: 2rem;
}
.description-box{
    font-size: 1.8rem;
    color: white;
    justify-content: center;    /* alineación horizontal */
    text-align: center;    /* alineación vertical */
}

/* TARJETAS DE PRODUCTOS */
.products-carrusel{
    display: flex;  /* Para poder alinear el div de los productos al medio*/
    align-items: center;
    justify-content: center;
}

.products-tarjetas{
    display: flex;
    /* background-color: grey; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;   /* defino ancho máximo... */
    width : 100%;       /* y ocupo todo ese ancho */
}

/* BOTON DE EXPLORAR */
.explore-button-section {
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.explore-button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    width: 20rem;
    height: 5rem;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: #0071e2;
}

@media (max-width: 800px){
    .landing-initial-container {
        flex-direction: column;
    }
    .landing {
        background-image: url('../../assets/pages/phone-landing-background.png');
        overflow-y: auto;
        overflow-x: hidden;
    }
    .products-tarjetas{
        max-width: 100%;
        justify-content: center;
        gap: 1rem;
        padding: 0 1rem;
    }
    .products-carrusel{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .products-tarjetas{
        flex-direction: column;
        align-items: center;
    }
}